<div class="col-xs-10 col-xs-offset-1 page-content">
  <h3>
    <span>SPLURTY No. <%= @quote.id %></span>
    You know you need to learn Elixir because...
  </h3>

  <h1>
    <%= @quote.saying %>
  </h1>

  <h2 class="text-right">
    <%= @quote.author %>
  </h2>
</div>
