<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Zamith">

    <title>Splurty!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
  </head>

  <body class="site">
    <header>
      <div class="col-xs-6">
        <div class="circle">
          <br />
          Elixir &
          <br />
          Erlang
          <br />
          Rock!
        </div>
      </div>

      <div class="col-xs-6 text-right">
        <div id="header-links">
          <a href="<%= quote_path(@conn, :new) %>">Contribute</a>
        </div>
      </div>
    </header>
    <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
    <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

    <hr class="clear col-xs-12"/>

    <main class="site-content">
      <%= @inner %>
    </main>

    <footer>
      <div class="col-xs-6">
        <a href="<%= quote_path(@conn, :homepage)%>">
          This isn't enough, I need more
        </a>
      </div>
      <div class="col-xs-6 text-right">
        <a href="http://elixir-lang.org">
          <img src="/images/elixir.png"/>
        </a>
        <a href="http://www.phoenixframework.org/">
          <img src="/images/phoenix.png" />
        </a>
      </div>
    </footer>

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    <script>require("web/static/js/app")</script>
  </body>
</html>
