.btn-primary, .btn-primary:hover {
  border-radius:0;
  font-size:30px;
  width:100%;
  font-weight:100;
  background-color: #f84342;
  border-color:  #f84342;
}

.btn-danger {
  border-radius:0;
  font-weight:100;
}

.link {
  display: inline-block;
}
